<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="index.css">
    <title>Rich Man</title>
</head>
<body ng-app rich-man>

你現在有{{ctrl.money.round()}}元！
<button ng-click="ctrl.work()">撿破爛</button>
<hr/>


<!--<button nf-if="ctrl.canBuyDog" ng-click="ctrl.work()">撿破爛</button>-->

<div ng-repeat="attr in ctrl.attributes">
    <div ng-if="attr.show() || attr.unlock()" class="attribute">
        <h4>{{attr.name}}
            <a href="#" ng-if="attr.canBuy()" ng-click="attr.buy()">[購買]</a>
        </h4>

        <div>費用：{{attr.cost().round()}}</div>
        <div ng-if="attr.has()">數量：{{attr.count}}</div>
        <div ng-if="attr.has()">等待：{{(attr.cd).round()}} / {{(attr.delay()).round()}}
            ({{(100*attr.cd/attr.delay()).round()}}%)
        </div>
        <div ng-if="attr.has()">單獨收入：{{attr.singleIncome()}}</div>
        <div ng-if="attr.has()">每回收入：{{attr.totalIncome()}}</div>
        <div ng-if="attr.has()">每秒收入：{{(attr.totalIncome()/attr.delay()).toStringAsFixed(2)}}/s</div>
        <div ng-if="attr.has()">累積收入：{{attr.totalEarn.round()}}</div>
        <div>說明：
            <div ng-repeat="desc in attr.desc">{{desc}}</div>
        </div>
        <div ng-if="attr.has()" class="bar" ng-style="{width:attr.ratio}"></div>
    </div>
</div>


<script type="application/dart" src="main.dart"></script>
<script src="packages/browser/dart.js"></script>
</body>
</html>