* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.attribute {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    overflow: auto;

}

.attribute .info {
    border: 1px solid black;
    float: left;
    padding: 5px;
    margin: 5px;
    min-width: 300px;
}

.upgrade {
    border: 1px solid black;
    float: left;
    padding: 5px;
    margin: 5px;
    overflow: auto;
    min-width: 150px;
}

.bar {
    height: 10px;
    background-color: red;
}

.header {
    position: fixed;
    background-color: aquamarine;
    left: 0px;
    right: 0px;
    top: 0px;
}

.space {
    height: 40px;
}